<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/setup.css">
    <link rel="stylesheet" type="text/css" href="css/font.css">
  </head>
<body ng-cloak>

    <div id="topPanelAlpha" class="topPanelAlpha"></div>
    <div id="topPanel" class="topPanel"></div>
    <div id="midPanel" class="midPanel"></div>
    <div id="botPanel" class="botPanel"></div>

    <div id="content" class="content">
        <!-- <img src="images/left_arrow.svg" alt="some_text" class="leftArrow"> -->
        <p class="leftArrowText darkBlue"> &lt </p>
        <button tabindex="-1" id="backButton" class="darkBlue" ng-click="gotoHome()">Back</button>

        <p class="setupTitle darkBlue">Setup</p>
        <p class="nameLabel">Name</p> 
        <p class="difficultyLabel">Difficuly</p>

         <input tabindex="-1" type="text" name="firstname" class="nameInput darkBlue" value="" ng-model="playerName">
        <select ng-init="modules[0].name" ng-model="module" ng-options="module.name for module in modules" class="difficultySelect"></select>
        <input tabindex="-1" type="submit" value="" class="saveButton" ng-click="submit()">

    </div>

    <!-- <input type="button" value="Back" onClick="history.go(-1);return true;">
    <br>
     -->

</body>
