<div id="spLevelSelect" class="spLevelSelect" ng-cloak>

	<link rel="stylesheet" type="text/css" href="css/levelSelection.css">
    <link rel="stylesheet" type="text/css" href="css/font.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.min.js"></script>

	<div id="topPanel" class="topPanel"></div>
    <div id="midPanel" class="midPanel"></div>
    <div id="botPanel" class="botPanel"></div>
    <div id="content" class="content">
    	<div id="topContent" class="topContent">
			<button tabindex="-1" id="backButton" class="backButton" ng-click="backButton()">Back</button>
			<p class="levelTitle darkBlue">Level: {{ (currentLevelBeingViewed+1) | getWordForNumber }}</p>
			<p class="levelStatus">
				{{levels[currentLevelBeingViewed].status | getStatusForNumber }}
			</p>
			<p class="modifiersTitle darkBlue">
				Modifiers
			</p>
			<div class="modifiersList">
				<div class="row">
					<p class="modifiersWords col-sm-12">Words: {{levels[currentLevelBeingViewed].wordCount}}</p>
				</div>
				<div class="row">
					<p class="modifiersWords col-sm-12">Undos: {{levels[currentLevelBeingViewed].maxUndos}}</p>
				</div>
				<div class="row">
					<p class="modifiersWords col-sm-12">Speaks: {{levels[currentLevelBeingViewed].maxSpeaks}}</p>
				</div>
				<div class="row">
					<p class="modifiersWords col-sm-12">Partial Completion: {{levels[currentLevelBeingViewed].partialCompletionRatio}}</p>
				</div>
			</div>
			
			<p class="wordsTitle darkBlue">Included Words</p>

			<div class="wordsList container-fluid">
				<div class="row">
					<p class="word col-sm-3" style="padding-left:0">Super</p>
					<p class="word col-sm-3" style="padding-left:0">Martian</p>
					<p class="word col-sm-3" style="padding-left:0">Power</p>
					<p class="word col-sm-3" style="padding-left:0">Start</p>
				</div>
				<div class="row">
					<p class="word col-sm-3" style="padding-left:0">Great</p>
					<p class="word col-sm-3" style="padding-left:0">Earth</p>
					<p class="word col-sm-3" style="padding-left:0">Moon</p>
					<p class="word col-sm-3" style="padding-left:0">Finish</p>
				</div>
				<div class="row">
					<p class="word col-sm-3" style="padding-left:0">Diction</p>
					<p class="word col-sm-3" style="padding-left:0">Venus</p>
					<p class="word col-sm-3" style="padding-left:0">Great</p>
					<p class="word col-sm-3" style="padding-left:0">Same</p>
				</div>
				<div class="row">
					<p class="word col-sm-3" style="padding-left:0">Beat</p>
					<p class="word col-sm-3" style="padding-left:0">Trap</p>
					<p class="word col-sm-3" style="padding-left:0">Poor</p>
					<p class="word col-sm-3" style="padding-left:0">Sound</p>
				</div>
				<div class="row">
					<p class="word col-sm-3" style="padding-left:0">Genius</p>
					<p class="word col-sm-3" style="padding-left:0">Dragon</p>
					<p class="word col-sm-3" style="padding-left:0">Wreck</p>
					<p class="word col-sm-3" style="padding-left:0">Ground</p>
				</div>
			</div>

			<img class="previewBorder" src="images/preview_border.svg" alt="preview_border">
			<img class="previewContents" src="images/preview_0.svg" alt="preview_border">
			<p class="previewTitle darkBlue">Preview</p>
		</div>

		<img tabindex="-1" class="startButton" src="images/start_button.svg" alt="start_button" ng-click="startLevel()">
		<div id="levelSection" class="levelSection" >
			<img tabindex="-1" class="leftButton" src="images/left_button.svg" alt="left_button" ng-click="leftButton()">
			<div class="levelBoxContainer">
				<div tabindex="-1" class="levelBox" ng-repeat="level in levelView">
					<div tabindex="-1" class="levelSquare"  ng-class="{locked: level.status == 0, unattempted: level.status == 1, completed: level.status == 2, failed: level.status == 3}" ng-click="levelClicked(level)" ng-disabled="level.status == 0">
						<span ng-class="levelNumberViewed: currentLevelBeingViewed == level.number-1, levelNumber: currentLevelBeingViewed != level.number-1">{{level.number}}</span>
					</div>
					<div class="levelBoxLabel">Level: {{level.number | getWordForNumber}}</div>
					<div ng-class="{levelUnderline: currentLevelBeingViewed == level.number-1}"></div>
				</div>
			</div>
			<img tabindex="-1" class="rightButton" src="images/right_button.svg" alt="right_button" ng-click="rightButton()">
		</div>
    </div>

    

	

    <!-- <p class="wordsList darkBlue">WORD WORD WORD WORD {{levels[currentLevelBeingViewed].words}}</p> -->
	
	
</div>