<div id="spLevelSelect" class="spLevelSelect">

	<link rel="stylesheet" type="text/css" href="css/levelSelection.css">
    <link rel="stylesheet" type="text/css" href="css/font.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.min.js"></script>

	<div id="topPanel" class="topPanel"></div>
    <div id="midPanel" class="midPanel"></div>
    <div id="botPanelLeft" class="botPanelLeft"></div>
    <div id="botPanelRight" class="botPanelRight"></div>
    <div id="titleBlock" class="titleBlock" style="display:none">
    	<p class="title whiteAmber">Level: {{ currentLevelBeingViewed+1 | getWordForNumber }}</p>
    </div>
    <div id="content" class="content" style="display:none">
    	<p class="wordCount">{{levels[currentLevelBeingViewed].wordCount}} WORDS</p>
    	<div class="leftArrow"></div>
    	<p tabindex="-1" class="previousButton" ng-click="leftButton()">Level {{ (currentLevelBeingViewed)}} </p>
    	<p tabindex="-1" class="nextButton" ng-click="rightButton()">Level {{ (currentLevelBeingViewed+2)}} </p>
    	<div id="rightArrowOrLock" class="rightArrow"></div>

    	<div class="undosIcon"></div>
    	<p class="undosText">{{levels[currentLevelBeingViewed].maxUndos}} Undos</p>
    	<div class="speaksIcon"></div>
    	<p class="speaksText">{{levels[currentLevelBeingViewed].maxSpeaks}} Speaks</p>
    	<div class="emptyCircleIcon"></div>
    	<div class="filledInIconFifty"></div>
    	<p class="filledInText"> {{levels[currentLevelBeingViewed].partialCompletionRatio}}% filled-In</p>

    	<div tabindex="-1" id="startButton" class="startButton" ng-click="startLevel()"></div>
    </div>
</div>