@font-face {
    font-family: robotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: robotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: robotoLight;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: robotoLightItalic;
    src: url(../fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: robotoThin;
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: robotoThinItalic;
    src: url(../fonts/Roboto-ThinItalic.ttf);
}

.darkBlue{
	color: #00072D;
}

.white{
	color: white;
}

.whiteAmber{
	color: #FFF8E1;
}