.content{
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  width: 1024px;
  height: 624px;
  margin: auto;
  background-color: transparent;
  z-index: 5;

  transform-origin: top center;
}

.topPanel{
  position: absolute;
  top: 0; 
  left: 0px; 
  z-index: 1;

  width: 100%;
  /*height: 36.848958333333%; */
  height: calc(100% - 40px);

  background : -moz-radial-gradient(-4.98% 2%, circle farthest-corner, rgba(51, 57, 87, 1) 0%, rgba(0, 7, 45, 1) 100%);
  background : -webkit-radial-gradient(-4.98% 2%, circle farthest-corner, rgba(51, 57, 87, 1) 0%, rgba(0, 7, 45, 1) 100%);
  background : -webkit-gradient(radial,-4.98% 2% ,0 , -4.98% 2%, 1152.01 ,color-stop(0,rgba(51, 57, 87, 1) ),color-stop(1,rgba(0, 7, 45, 1) ));
  background : -o-radial-gradient(-4.98% 2%, circle farthest-corner, rgba(51, 57, 87, 1) 0%, rgba(0, 7, 45, 1) 100%);
  background : -ms-radial-gradient(-4.98% 2%, circle farthest-corner, rgba(51, 57, 87, 1) 0%, rgba(0, 7, 45, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
  background : radial-gradient(-4.98% 2%, circle farthest-corner, rgba(51, 57, 87, 1) 0%, rgba(0, 7, 45, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);

  }

.midPanel{
  position: absolute; 
  top: 100px;
  /*bottom: 2.604166666667%;*/
  left: 0px; 
  width: 100%;
  /*height: 20.442708333333%;*/
  height: calc(100% - 140px);
  z-index: 4;

   background : -moz-radial-gradient(-37.01% -15.39%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 248, 225, 1) 100%);
  background : -webkit-radial-gradient(-37.01% -15.39%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 248, 225, 1) 100%);
  background : -webkit-gradient(radial,-37.01% -15.39% ,0 , -37.01% -15.39%, 1880.33 ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(255, 248, 225, 1) ));
  background : -o-radial-gradient(-37.01% -15.39%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 248, 225, 1) 100%);
  background : -ms-radial-gradient(-37.01% -15.39%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 248, 225, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
  background : radial-gradient(-37.01% -15.39%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 248, 225, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}

.botPanelLeft{
  position: absolute;
  bottom: 0; 
  /*bottom: 0%;*/
  left: 0px;
  width: 25%;
  /*height: 42.708333333333%;*/
  height: 40px;
  z-index: 3; 

  background : -moz-radial-gradient(-33.62% -1802.62%, circle farthest-side, rgba(255, 213, 79, 1) 0%, rgba(255, 160, 0, 1) 100%);
  background : -webkit-radial-gradient(-33.62% -1802.62%, circle farthest-side, rgba(255, 213, 79, 1) 0%, rgba(255, 160, 0, 1) 100%);
  background : -webkit-gradient(radial,-33.62% -1802.62% ,0 , -33.62% -1802.62%, 1747.87 ,color-stop(0,rgba(255, 213, 79, 1) ),color-stop(1,rgba(255, 160, 0, 1) ));
  background : -o-radial-gradient(-33.62% -1802.62%, circle farthest-side, rgba(255, 213, 79, 1) 0%, rgba(255, 160, 0, 1) 100%);
  background : -ms-radial-gradient(-33.62% -1802.62%, circle farthest-side, rgba(255, 213, 79, 1) 0%, rgba(255, 160, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
  background : radial-gradient(-33.62% -1802.62%, circle farthest-side, rgba(255, 213, 79, 1) 0%, rgba(255, 160, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}

.botPanelRight{
  position: absolute;
  bottom: 0; 
  /*bottom: 0%;*/
  right: 0px;
  width: 75%;
  /*height: 42.708333333333%;*/
  height: 40px;
  z-index: 2; 

  background : -moz-radial-gradient(-38.46% -1064.66%, circle farthest-side, rgba(51, 57, 87, 1) 0%, rgba(0, 7, 45, 1) 100%);
  background : -webkit-radial-gradient(-38.46% -1064.66%, circle farthest-side, rgba(51, 57, 87, 1) 0%, rgba(0, 7, 45, 1) 100%);
  background : -webkit-gradient(radial,-38.46% -1064.66% ,0 , -38.46% -1064.66%, 1151.76 ,color-stop(0,rgba(51, 57, 87, 1) ),color-stop(1,rgba(0, 7, 45, 1) ));
  background : -o-radial-gradient(-38.46% -1064.66%, circle farthest-side, rgba(51, 57, 87, 1) 0%, rgba(0, 7, 45, 1) 100%);
  background : -ms-radial-gradient(-38.46% -1064.66%, circle farthest-side, rgba(51, 57, 87, 1) 0%, rgba(0, 7, 45, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
  background : radial-gradient(-38.46% -1064.66%, circle farthest-side, rgba(51, 57, 87, 1) 0%, rgba(0, 7, 45, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}

.titleBlock{
  position: absolute;
  top: 0; 
  left: 0px; 
  z-index: 2;
  width: 450px;
  height: 100px;
  background-image: url("../images/title_block.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.title{
  font-family : "robotoRegular";
  font-size : 45px;
  letter-spacing : 1.8px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;

  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.wordCount{
  font-family : "robotoMedium";
  font-size : 95px;
  text-align: center;
  letter-spacing : 3.8px;
  color : #FFC107;
  color : rgb(255, 193, 7);
  line-height: 65px;

  position: absolute;
  left: 0;
  right: 0;
  top:95px;
  margin: auto;
  padding: none;

}

.previousButton{
  font-family : "robotoLight";
  font-size : 23px;
  letter-spacing : 0.92px;
  color : #757575;
  color : rgb(117, 117, 117);

  position: absolute;
  left: 83px; 
  top: 303px;
  line-height: 17px;
  padding: none;
  margin: none;
  cursor: pointer;
  -webkit-transition: left .25s;
  transition: left .25s;
}
.previousButton:hover{
  left: 79px;
}
.previousButton:active{
  left: 81px;
}

.nextButton{
  font-family : "robotoLight";
  font-size : 23px;
  letter-spacing : 0.92px;
  color : #757575;
  color : rgb(117, 117, 117);

  position: absolute;
  right: 83px; 
  top: 303px;
  line-height: 17px;
  padding: none;
  margin: none;
  cursor: pointer;

  -webkit-transition: right .25s;
  transition: right .25s;
}
.nextButton:hover{
  right:79px;
}
.nextButton:active{
  right:81px;
}

.leftArrow{
   position: absolute;
  top: 292px; 
  left: 38px; 
  z-index: 4;
  width: 20px;
  height: 40px;
  background-image: url("../images/left_arrow_grey.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.rightArrow{
   position: absolute;
  top: 292px; 
  right: 38px; 
  z-index: 4;
  width: 20px;
  height: 40px;
  background-image: url("../images/right_arrow_grey.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.lock{
  position: absolute;
  top: 292px; 
  right: 38px; 
  z-index: 4;
  width: 20px;
  height: 40px;
  background-image: url("../images/lock_grey.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.undosIcon{
  position: absolute;
  top: 250px; 
  left: 262px; 
  z-index: 4;
  width: 111px;
  height: 111px;
  background-image: url("../images/undos_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.undosText{
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: "robotoLight";
    font-size: 18px;
    letter-spacing: 0.72px;
    color: #424242;
    color: rgb(66, 66, 66);
    top: 373px;
    left: 283px;
}

.speaksIcon{
  position: absolute;
  top: 250px; 
  left: 452px; 
  z-index: 4;
  width: 111px;
  height: 111px;
  background-image: url("../images/speaks_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.speaksText{
  margin: 0;
  padding: 0;
  position: absolute;
  font-family: "robotoLight";
  font-size: 18px;
  letter-spacing: 0.72px;
  color: #424242;
  color: rgb(66, 66, 66);
  top: 373px;
  left: 470px;
}

.startButton{
  position: absolute;
  left:0;
  right:0;
  margin:auto;
  bottom: 92px;  
  z-index: 3;
  width: 165px;
  height: 36.934px;
  background-image: url("../images/start_button_dark.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: width .25s;
  transition: width .25s;
  cursor: pointer;
}
.startButton:hover{
  width: 170px;
}
.startButton:active{
  width:167.5px;
}

.emptyCircleIcon{
  position: absolute;
  top: 250px; 
  right: 262px; 
  z-index: 3;
  width: 111px;
  height: 111px;
  background-image: url("../images/empty_circle_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.filledInText{
  margin: 0;
  padding: 0;
  position: absolute;
  font-family: "robotoLight";
  font-size: 18px;
  letter-spacing: 0.72px;
  color: #424242;
  color: rgb(66, 66, 66);
  top: 373px;
  left: 657px;
}

.filledInIconTen{
  position: absolute;
  top: 280px;
  right: 292px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url("../images/pie_ten.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filledInIconTen{
  position: absolute;
  top: 280px;
  right: 292px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url("../images/pie_ten.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filledInIconTwenty{
  position: absolute;
  top: 280px;
  right: 292px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url("../images/pie_twenty.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filledInIconThirty{
  position: absolute;
  top: 280px;
  right: 292px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url("../images/pie_thirty.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filledInIconForty{
  position: absolute;
  top: 280px;
  right: 292px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url("../images/pie_forty.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filledInIconFifty{
  position: absolute;
  top: 280px;
  right: 292px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url("../images/pie_fifty.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filledInIconSixty{
  position: absolute;
  top: 280px;
  right: 292px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url("../images/pie_sixty.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filledInIconSevety{
  position: absolute;
  top: 280px;
  right: 292px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url("../images/pie_seventy.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filledInIconEighty{
  position: absolute;
  top: 280px;
  right: 292px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url("../images/pie_eighty.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filledInIconNinety{
  position: absolute;
  top: 280px;
  right: 292px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url("../images/pie_ninety.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}


