.topPanel{

	width: 110%;

}

.background-0{
	background-image: url("../images/background-0.svg");
	background-repeat: no-repeat;
	background-size: 105%;
    margin-left: -1px;

}

.background-1{
	background-image: url("../images/background-1.svg");
	background-repeat: no-repeat;
	background-size: 105%;
    margin-left: -1px;
}

.background-2{
	 background-image: url("../images/background-2.svg");
	background-repeat: no-repeat;
	background-size: 105%;
    margin-left: -1px;
}

.background-3{
	background-image: url("../images/background-3.svg");
	background-repeat: no-repeat;
	background-size: 105%;
    margin-left: -1px;
}

.background-4{
	background-image: url("../images/background-4.svg");
	background-repeat: no-repeat;
	background-size: 105%;
    margin-left: -1px;
}

.background-5{
	background-image: url("../images/background-5.svg");
	background-repeat: no-repeat;
	background-size: 105%;
    margin-left: -1px;


}

