<div id="spPlayContainer" class="spPlayContainer">
	<link rel="stylesheet" type="text/css" href="css/play.css">
	<link rel="stylesheet" type="text/css" href="css/font.css">

	<div class="borderDivGold"></div>
	<div class="mainPanelWhite">
		<div class="top">
			<button tabindex="-1" class="quitButton inlineButton darkBlue">Quit</button>
			<button class="inlineButton" ng-click="addLetter('s')">S</button>
			<button class="inlineButton" ng-click="addLetter('u')">U</button>
			<button class="inlineButton" ng-click="addLetter('p')">P</button>
			<button class="inlineButton" ng-click="addLetter('e')">E</button>
			<button class="inlineButton" ng-click="addLetter('r')">R</button>
			<button class="inlineButton" ng-click="addLetter('h')">H</button>
			<button class="inlineButton" ng-click="addLetter('i')">I</button>
			<button class="inlineButton" ng-click="addLetter('r')">R</button>
			<button class="inlineButton" ng-click="addLetter('t')">T</button>
		</div>

		<div class="middle">
			<div class="progressUnit" ng-repeat="progressUnit in currentWordSequence">
				<div class="progressLetter">{{progressUnit.letter}}</div>
				<div class="progressUnderline" ng-class="{greenUnderline: progressUnit.status == CORRECT, redUnderline: progressUnit.status == INCORRECT, orangeUnderline: progressUnit.status == UNATTEMPTED}"></div>
			</div>
		</div>

		<div class="bottom">
			<div tabindex="-1" class="undoButton" ng-click="undoButton()"></div>
			<div tabindex="-1" class="tangibleContainer" id="tangibleContainer"></div>
			<div tabindex="-1" class="speakButton" ng-click="speakButton()"></div>
		</div>
	</div>
	
</div>