<div id="spHomeContainer" class="spHomeContainer">
	<!-- <div class="leftPanel">
		<div class="buttons">
			<button>Start</button>
			<button ui-sref="settings">Settings</button>
		</div>
	</div>
	<div class="middlePanel"></div>
	<div class="rightPanel"></div> -->
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<div class="topPanel">
		
	</div>

	<h1 id="playButton" class="darkBlue">PLAY</h1>
	<h2 id="settingsButton" class="darkBlue">Settings</h2>
	<h2 id="creditsButton" class="darkBlue">Credits</h2>
	

	<div class="midPanel">
		
	</div>
	<div class="botPanel">
		<h2 id="quitButton" class="white">Quit</h2>
	</div>

	<img src="images/Logo_round.png" alt="some_text" class="logo">

	<style>
		/*.spHomeContainer {*/

			

		/*}*/
	</style>

	
</div>