<div id="spHomeContainer" class="spHomeContainer">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <div class="leftPanel">
		<div class="buttons">
			<button ui-sref="setup">Start</button>
			<button ui-sref="settings">Settings</button>
		</div>
	</div>
	<div class="middlePanel"></div>
	<div class="rightPanel"></div> -->
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link rel="stylesheet" type="text/css" href="css/font.css">

	<div id="topPanel" class="topPanel">
		
	</div>

	
	<button tabindex="-1" id="playButton" class="darkBlue" ng-click="gotoLevelSelection()">PLAY</button>
	
	<button tabindex="-1" id="settingsButton" class="darkBlue" ng-click="gotoSettings()">Settings</button>
	<button tabindex="-1" id="creditsButton" class="darkBlue" ng-click="gotoCredits()">Credits</button>
	

	<div id="midPanel" class="midPanel">
		
	</div>
	<div id="botPanel" class="botPanel">
		<h2 tabindex="-1" id="quitButton" class="white">Quit</h2>
	</div>

	<img src="images/logo_round.svg" id="logo" alt="some_text" class="fase logo"  ng-init="ngLoaded = true" ng-class="{ in: ngLoaded }">
	<a id="title">STAMP-A-LETTER</a>
	<a id="subTitle">Tangible Spelling Tutor</a>
	
</div>