<md-dialog aria-label="New Module" class="spAddModuleDialogClass">


  <link rel="stylesheet" type="text/css" ng-href="css/font.css">
  <form ng-cloak>
    <!-- <md-toolbar> -->
      <div class="topPanel background-dialog-{{backgroundIndex}}">
        <!-- <a >{{dialogName}}</a>
        <span flex></span>
        </md-button> -->

        <span class="NewModuleForm">

        <!-- <h1>Module Name</h1>   -->
    
           <input class="listNameInput" type="text" name="moduleName" ng-model="currentModule.name"/>
        </span>
      </div>
    <!-- </md-toolbar> -->

    <!-- <md-dialog-content> -->
      <div class="md-dialog-content">

      

      <span class="NewModuleForm">

        <h1>Add your word</h1>
    
        <form name="addWordForm" ng-submit="addWord()">
           <input type="text" name="newWord" ng-model="newWord" />
           <button ng-disabled="addWordForm.$invalid" ng-click="addWord()">Add</button>
        </form>
        
        <ul>
          <li ng-repeat="word in currentModule.words" >
            <span class="fa fa-close deleteWordIcon" ng-click="deleteWord($index)">[x]</span>
            <span>{{word}}</span>
          </li>
        </ul>
      </span>

      </div>
    <!-- </md-dialog-content> -->

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="answer()">
        Confirm
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>